@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=JetBrains+Mono:wght@500&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: -0.018em;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: -0.022em;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration-color: transparent;

  &:focus {
    outline: 3px solid transparentize($blue-100, 0.6);
    outline-offset: 1px;
    text-decoration: none;
  }
}

a:not([class]):hover {
  color: $blue-100;
  text-decoration-color: $blue-100;
}

code {
  font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  letter-spacing: 0.02em;
  font-weight: 500;
  border: none;
}

pre {
  line-height: 18px;
}

button {
  border-radius: 200px;
}

.site-title {
  font-weight: 600;
}


/* --- Miscellaneous --- */
p, div, button, .note, .warning {
  box-shadow: none;
}

div.side-bar {
  left: -8px;
}

p.label {
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}