@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=JetBrains+Mono:wght@500&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: -0.018em;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: -0.022em;
  -webkit-font-smoothing: antialiased;
}

a:not([class]) {
  text-decoration-color: transparent;

  &:hover {
    color: $blue-100;
    text-decoration-color: $blue-100;
  }
  &:focus {
    color: $blue-200;
    outline: 3px solid transparentize($blue-100, 0.35);
    outline-offset: 1px;
    text-decoration: none;
  }
}

code {
  font-family: SFMono-Regular, SF Mono, 'JetBrains Mono', ui-monospace, Menlo, Consolas, Liberation Mono, monospace;
  letter-spacing: 0.02em;
  font-weight: 500;
  border: none;
}

pre {
  line-height: 18px;
}

button {
  border-radius: 200px;
}

.site-title {
  font-weight: 600;
}

/* --- Search box --- */
#search-results {
  background-color: rgba(246, 248, 250, 0.9);
  backdrop-filter: blur(10px) contrast(2) brightness(1.4);
}

.search-active .search-input-wrap {
  box-shadow: none;
}

.search-result-title, .search-result-previews {
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 17px;
}

.search-result {
  height: 42px;
  overflow: hidden;
}

.search-results-list {
  margin-bottom: 0;
}

/* --- Miscellaneous --- */
p, div, button, .note, .warning {
  box-shadow: none;
}

div.side-bar {
  left: -8px;
}

p.label {
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}