@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin link-hover-effect {
  color: $blue-300;
  text-decoration: underline !important;
  text-decoration-color: currentColor !important;
}

@mixin font-display-title {
  font-family: $display-title;
  font-weight: 700;
}

@mixin font-display {
  font-family: $display;
  font-weight: 600;
}

@mixin font-text {
  font-family: $text;
  font-weight: 400;
}

@mixin font-monospaced {
  font-family: $monospaced;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.018em;
}

$text: -apple-system, BlinkMacSystemFont, 'Inter', system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$display-title: 'Source Serif Pro', Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$display: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Inter', system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$monospaced: 'JetBrains Mono', SFMono-Regular, SF Mono, ui-monospace, Menlo, Consolas, Liberation Mono, monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';


h1, h2,
.site-title {
  @include font-display-title();
  width: fit-content !important;

  &:not(.text-delta,.site-title):hover {
    text-decoration: underline dotted transparentize($body-heading-color, 0.5);
    text-decoration-thickness: 2px;
    text-underline-offset: 14%;
  }
}

h3, h4, h5, h6,
.text-delta {
  @include font-display();

  & svg {
    display: none !important;
  }
}

body {
  @include font-text();
}

@media (min-width: 31.25rem) {
  h1 {
    font-size: 42px !important;
  }

  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 15px !important;
  }

  h4 {
    font-size: 12px !important;
  }
}

a:not([class]) {
  text-decoration: none;

  &:hover {
    @include link-hover-effect();
  }
  &:focus {
    outline: 3px solid transparentize($blue-100, 0.3);
    outline-offset: 1px;
    color: $blue-200 !important;
    text-decoration: none !important;
  }
}

.nav-list-link {
  width: fit-content !important;
  padding-right: 0 !important;
  background-image: none !important;

  margin-left: 1rem;
  padding-left: 1rem !important;

  &:not(.active) {
    color: $grey-lt-100 !important;
    border-left: 2px solid $grey-dk-200;
  }
  &.active {
    color: $grey-lt-300 !important;
    border-left: 2px solid $grey-lt-300;
  }
  &:hover {
    @include link-hover-effect();
  }
}

code {
  @include font-monospaced();
  border: none;
}

pre {
  line-height: 21px;
}

.site-title {
  @include noselect();
}

.site-footer {
  @include noselect();
}

/* --- Search box --- */
#search-results,
.search-active .search-input-wrap {
  box-shadow: none;
}

.search-overlay {
  -webkit-backdrop-filter: blur(8px) saturate(1.2) contrast(0.75) brightness(0.2);
  backdrop-filter: blur(8px) saturate(1.2) contrast(0.75) brightness(0.2);
  transition: opacity ease 200ms,width 0s 200ms,height 0s 200ms;
}

.search-active .search-overlay {
  transition: opacity ease 200ms,width 0s,height 0s;
}

.search-result-title,
.search-result-previews {
  line-height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.search-result-previews {
  padding-left: 9px;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 32px, rgba(0, 0, 0, 0) 32px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 32px, rgba(0, 0, 0, 0) 32px);
}

.search-result-preview {
  margin: 0;
}

.search-result {
  height: 40px;
  overflow: hidden;
}

.search-results-list {
  margin-bottom: 0;
}

.search-result-doc-parent,
.search-result-doc-parent ~ .search-result-rel-url {
  display: none;
}

.search-label,
.search-input {
  transition-duration: 50ms;
}

/* --- Miscellaneous --- */
p, div, button,
.note,
.warning {
  box-shadow: none;
}

.side-bar {
  left: -8px;
}

p.label {
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}