$grey-lt-000: #eaeef2;
$grey-lt-100: #8c959f;
$grey-lt-200: #424a53;  /* #32383f */
$grey-lt-300: #24292f;

$blue-000: #ddf4ff;
$blue-100: #218bff;
$blue-200: #0969da;
$blue-300: #0550ae;


$sidebar-color: $grey-lt-000;
$code-background-color: $grey-lt-100;
$feedback-color: $grey-lt-100;
$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-300;
$search-result-preview-color: $grey-lt-200;
$nav-child-link-color: $grey-lt-200;
$link-color: $blue-200;
$btn-primary-color: $blue-200;
$base-button-color: $grey-lt-000;


$font-size-3: 14px;
$font-size-5: 15px;
$font-size-7: 21px;


$border-radius: 7px;