$border-radius: 7px;

$font-size-2: 14px; // h4 - uppercased
$font-size-3: 12px; // aux link, search preview text
$font-size-5: 22px; // h3
$font-size-6: 30px; // h2
$font-size-7: 23px; // page title
$font-size-8: 42px; // h1